*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Lato', sans-serif;
}

ul,ol,li{
    list-style: none;
}

body{
    width: 100%;
    height: 100%;
    background: black;
    font: normal 15pt Arial;
}

header{
    width: 100%;
    display:flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logo{
    width: 100%;
    height: 45px;
    background-image: url('../images/logo.jpeg');
    background-repeat: no-repeat; 
    background-size: 150px;
    background-position: center;
    padding-bottom: 30px;
}

.btn-register:hover{
    background: #BF7E04;   
}

.btn-rote-login:hover{
    background: #BF7E04;   
}
.btn-rote-login, .btn-rote-register{
    width: 22%;
}

.login-register{
    display:flex;
    justify-content: space-around;
    background:black;
    padding-bottom:10px;
    border-top: 1px solid #BF7E04;
    padding: 2%;
}

.loginRegister{
    display:flex;
    justify-content: space-around;
    background:black;
    border-top: 1px solid #BF7E04;
    padding: 2%;
    margin-bottom: 10px;
}

.logout, .div-btn-back{
    background: black;
    border-top: 1px solid #BF7E04;
    padding: 5px 5px;   
}

.search{
    text-align: center;
    width: 100%;
    height: 50px;
    background: #F4EDE3;
    padding-top:20px;
}

.map{
    height: 300px;
    background: #F4EDE3;
    background-position: center; 
}

.map-container{
    width: 100%;
    height: 200px;
    background-position: center; 
    align-items:center;
    text-align:center;
    padding-top:10px;
}

main{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 100%;
    background: #F4EDE3;

}

.bar{
    text-align: center;
    background: #F4EDE3;
}

.img-bar{
    width: 310px;
    
}

footer{
    padding-top: 10px;
    text-align: center;
    font: italic 10pt Arial;
    color: #BF7E04;
}

/* LOGIN */

.login{
    display:flex;
    flex-direction: column;
    min-height: 450px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    padding-bottom: 10px;
}

.title-email-login, .title-password-login{
    margin-left: -53%;
    font-size: 14px;
}

.title-password-login{
    margin-top: 3%;
}

#btn-login{
    width: 30%;
    margin-top: 3%;
}

.text-password{
    margin-top: 14%;
}

.text-password, .text-account{
    font-size: 18px;
}

.forgot-password, .btn-register{
    margin-top: 3%;
    width: 45%;
    background-color: #BF7E04;
}

.text-account{
    margin-top: 4%;
}

.input{
    margin-bottom: 1.5%;
    width: 245px;
    height: 38px;
    left: 67px;
    top: 188px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

/* Regiter */

.title-register, .title-login{
    color:#F2B705;
    font-size: 25px;
}

.btn, .filter{
    height: 37px;
    background: #F2B705;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.btn-logout{
    width: 70px;
    height:38px;
    margin-left: 10px;
}

.img-voltar{
    width: 37px;
    height: 38px;
}

.title-input{
    margin-left: 14%;
    font-size: 14px;
}

.input-position{    
    margin-left: -54%;
}

.title-input-age{
    margin-left: -30%;
    font-size: 14px;
}

.title-input-long{
    margin-left: -39%;
    font-size: 14px;
}

.radio-gender{
    font-size: 14px;
    margin-top: -2%
}

.radio{
    margin-top: 3%;
    margin-left: 10%;
}

.password{
    margin-top: 3%;
}

.gender{
    margin-top: 3%;
}

/* MENU*/

.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    transform: translateX(-100%);
    transition: transform 200ms linear;
}

.menu_open{
    transform: translateX(0)
}

.menu-item{
    border-bottom: 1px solid #000;
    padding: 20px 15px;
    background-color: #BF7E04;
}

.menu-item-action{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

.menu-item-action:hover{
    font-size: 20px;
}

/* Btn Menu Open */
.btnMenu{
    display: block;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}

.btnMenu_open{
    background: url('../images/icon-menu.png');
    background-repeat: no-repeat;
    background-position: 15px center;
}

.btnMenu_close{
    background-color: black;
    background-image: url('../images/icon-menu-yellow.png');
    cursor: pointer;
    padding-top: 40px;
}

/* Recover-layout*/

.recover-layout{
    background: #F4EDE3;
    text-align: center;
    font-family: 'Lato', sans-serif;
    min-height: 450px;
    display: flex;
    flex-direction: column;
}

.title-recover{
    color: #F2B705;
    font-size: 25px;
    text-align: center;
}

.message-recover{
    margin-top: 30px;
    font-size: 18px;
    font-style: italic;
}

.email-recover{
    font-size: 21px;
    width: 245px;
    height: 38px;
    background: #FFFFFF;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 20px;
}

.btn-recover{
    background: #F2B705;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-size: 20px;
    font-weight: bold;;
    margin-top:30px;
    width:160px;
    height:40px; 
}

#message{
    margin-top: 20px;
}

.btn-back{
    background-image: url();
    height: 37px;
    width:38px;
    background: #F2B705;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    font-weight: bold;
    font-size: 17px;
}

.email{
    width: 65px;
    height: 36px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-left: 55px;
}

.cupom-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* MENU
.menu{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    transform: translateX(-100%);
    transition: transform 200ms linear;
}
.menu_open{
    transform: translateX(0)
}
.menu-item{
    border-bottom: 1px solid #000;
    padding: 20px 15px;
    background-color: #BF7E04;
}
.menu-item-action{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
.menu-item-action:hover{
    font-size: 20px;
}
/* Btn Menu Open 
.btnMenu{
    display: block;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-indent: -9999px;
    padding: 20px 15px;
}
.btnMenu_open{
    background: url('../images/icon-menu.png');
    background-repeat: no-repeat;
    background-position: 15px center;
}
.btnMenu_close{
    background-color: black;
    background-image: url('../images/icon-menu-yellow.png');
    cursor: pointer;
    padding-top: 40px;
}
 */